*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


section{
    position: relative;
    width:100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   
}
.fundo{
    
    filter:blur(1px) grayscale(100%);
    background-size: cover;
    position: fixed
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
header .logo{
    position: relative;
    display: flex;

}

header ul{
    position: relative;
    display: flex;
} 

header ul li{
    list-style: none;
}
header ul li a{
        display: inline-block;
        color: #333;
        font-weight: 400;
        text-decoration: none;

}
.menu li{
    font-size: 20px;
    padding: 15px;
    font-family: sans-serif; 
    border-radius: 25px;
    border: solid #017143;
    padding: 10px;
    margin:10px;
    height: 50px;
    transition: all 0.5s;
}

.menu li:hover{
    -webkit-filter:  drop-shadow(5px 5px 5px rgba(0,0,0,.5));
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,));
    background: #51b38a;
}
.menu li:active{
    background: #017143;
  
}
.main{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu li a{
    font-size: 14px;
    color: white;
}

.main .textBox{
    position: relative;
    max-width: 600px;
}

.main .textBox h2{
    color:white;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.main .textBox h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}
.main .textBox p{
    color:white;
}

.main .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;

}
.main .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;

}

.main .imgBox img{
    max-width: 340px;
    transition: all 0.5ms;
    
}
.imgBox img:hover{
    -webkit-filter:  drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15pc 10px 5px rgba(0,0,0,));
}

.drinks{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50px);
    display: flex;
}

.drinks li {
    list-style: none;
    display: inline-block center;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.drinks li:hover{
    transform: translateY(-15px);
    
}

.drinks li  img{
   max-width:  60px;

   
}


.socials{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.socials li:hover{
    transform: translateX(1px);
    
}
.socials li{
    list-style:none;
    
}
.socials li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);

}

.circle{
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #04472b;
    clip-path: circle(600px at right 800px);
}



@media (max-width:900px){


    header{
        padding: 20px;
    }

    header .logo{
        position: relative;      
        max-width: 65px;
    }
    header ul{
        display: none;
    }
    
    select{
        padding: 20px 20px 110px;
    }
    .main{
        right: 50%;
        flex-direction: column;
        margin: 50% 30%;
    }
    .main .textBox h2{
        font-size: 2.5rem;
        margin-bottom: 15px;
      
    }
    .main .textBox{
        max-width: 100%;
        
    }

    .main .imgBox{
       
        max-width: 100%;
        justify-content: center;
        margin-top: 50%;
        margin-left: 200px;
        

    }
    .main.imgBox img{
        max-width: 250px;
        
    }
    div .imgBox img{
        align-items: center;
        margin-bottom: -40%;
        margin-right: -5em;
    }

  
    .drinks li img{
       max-width: 60px;
       margin-right: 200px;
       margin: -13px;
       margin-right: -30px;
       padding: 3mm;
    }
    
    .circle{
      
        clip-path: circle(400px at center  bottom);
    }
    
    .socials{
        background-color: #017143;
        right: 0;
        width: 60px;
        border-radius: 60px;
    }
    .menu {
       
        position: absolute;
        top: 0;
        left: 5em;
        padding:  20px ;
        display: flex;
        margin-top: 5em;
        
    }
    .menu li{
       width: 90px;
       padding: 5px auto;
       font-size: 15px;
       text-align: center;
       margin: 5px;
       
    }
    .menu li{
        transition: all 0.5s;
    }
    .menu li:hover{
        -webkit-filter:  drop-shadow(5px 5px 5px rgba(0,0,0,.5));
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,));

    }


}